<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<div id="add-comment">
  <a data-toggle="collapse" href="#comment-form"><h4>Add Comment</h4></a>
  <div id="comment-form" class="form collapse">
    <form class="form-group" method="POST" action="/posts/<%= post.id %>/comment">
      <input name="name" type="text" class="form-control" id="" placeholder="Your Name">
      <textarea name="content" class="form-control" id="" placeholder="Your Comment"></textarea>
      <input class="btn btn-default" type="submit">
    </form>
  </div>
</div>

<div id="all-the-comments">
  <h4>Comments</h4>
  <% post.comments.forEach(function(comment, id) { %>
    <div class="well">
      <div>
        <h5>from <%= comment.name %> <small>at <%= comment.createdAt %></small></h5>
        <p><%= comment.content %></p>
      </div>
      <div class="form">
        <form action="/posts/<%= post.id %>/comments">
          <input name="name" type="text" class="form-control" id="" value="<%= comment.name %>">
          <textarea name="content" class="form-control" id=""><%= comment.content %></textarea>
          <button class="btn btn-default" type="submit"><small>Save Changes</small></button>
        </form>
      </div>
    </div>
  <% }); %>
  <hr />
</div>

<a href="/">&larr; Back Home</a>
